<div>
  <label>Angular Material</label>
  <input type='checkbox' [(ngModel)]="material">

  <label style="padding-left:20px">NG Prime Picklist</label>
  <input type='checkbox' [(ngModel)]="primeng">

  <label style="padding-left:20px">Custom</label>
  <input type='checkbox' [(ngModel)]="custom">
</div>

<div *ngIf="material">

  <h2>Angular Material</h2>
  <div class="example-container">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" [cdkDropListLockAxis]="'y'">
      <div class="example-box" *ngFor="let column of configuredObjects" cdkDrag>
        {{column.value}} <button>X</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="primeng" style="width:400px">
    <h2>Prime NG</h2>
    <p-orderList [value]="configuredObjects" [responsive]="true" dragdrop="true">
        <ng-template let-column pTemplate="item">
            <div class="ui-helper-clearfix">
                <div style="float:left">{{column.value}}</div>
                <div style="float:right"><button>X</button></div>
            </div>
        </ng-template>
    </p-orderList>
</div>

<div *ngIf="custom">
  <h2>Custom</h2>
  <div id="columns" class="columns">
      <div class="column" draggable="true" *ngFor="let column of configuredObjects"
           (dragstart)="onDragstartMouse($event)" (dragend)="onDragendMouse($event)" (dragover)="onDragoverMouse($event)"
           (touchstart)="onDragstart($event)" (touchend)="onDragend($event)" (touchmove)="onDrag($event)">
        {{column.value}}
      </div>
    </div>
</div>





<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
