<!--The content below is only a placeholder and can be replaced.-->
<!-- <div>
  <h2>Properties Panel</h2>
</div>

<label>Name:</label>
<input type="text"/>

<app-lookup name="custom1" [succeed]="changeSucceed"></app-lookup>
<app-lookup name="custom2"  [succeed]="changeSucceed"></app-lookup>
<app-lookup name="custom3"  [succeed]="changeSucceed"></app-lookup>
<app-lookup name="custom4"  [succeed]="changeSucceed"></app-lookup> -->

<h2>Drag and Drop List</h2>
<app-pick-list></app-pick-list>

<!-- <div style="padding-top:20px">
    <label>Change should succeed</label>
    <input type='checkbox' [(ngModel)]="changeSucceed">
</div> -->

<router-outlet></router-outlet>
